<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>qwq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAE2217B2327A0180030DDFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE2218F2327A0190030DDFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE2219A2327A0190030DDFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
